* {
   margin: 0;
   padding: 0;
}

body{
    font-family: sans-serif;
}

#nav-bar{
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 1.5rem !important;
    font-weight: bold;
    color: white;
    padding-left: 30px;
}

.navbar{
    background-color: rgb(59, 148, 226);
    padding: 0;
}

.navbar-nav li 
{
    padding: 0 10px;
    margin-bottom: 0;
}

.navbar-nav li a
{
    color: #fff;
    font-weight: 600;
    float: right;
    text-align: left;
}

.fa-bars{
    color: #fff;
    font-size: 30px;
}

.navbar-toggler{
    outline: none;
}


/*-------------- banner section=------------------- */

#banner{
     background-color: rgb(59, 148, 226);
     padding-top: 3.5%;
     padding-bottom: 2%;
     color: #fff;
}

.promo-title{
    font-weight: 600;
    margin-top: 60px;
    font-family: "Montserrat-Black";
    font-size: 3rem;
    line-height: 1.5;
}

.download-button {
    margin: 3% 3% 5% 0;
  }

  /* ------------------services section--------------------------- */

  #services{
      padding: 80px 0;
  }

  .service-img{
      width: 120px;
      height: 100px;
      margin-top: 15px;
  }

  .services{
      padding: 20px;
  }

  .services h4{
      padding: 5px;
      margin-top: 25px;
      text-transform: uppercase;
  }

  .title::before{
    content: '';
    background: rgb(59, 148, 226);
    height: 5px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(63px);
  }

  .title::after{
    content: '';
    background: rgb(59, 148, 226);
    height: 10px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    display: block;
    transform: translateY(8px);
  }

  #services .btn-primary{
      box-shadow: none;
      padding: 8px 25px;
      border: none;
      border-radius: 20px;
      background: rgb(59, 148, 226);
  }

  /*------------------ About us section--------------------------- */

  #about-us{
      background: #f8f9fa;
      padding-bottom: 50px;
      padding-top: 50px;
  }

  .about-title{
      font-size: 40px;
      font-weight: 600;
      margin-top: 8px;
  }

  #about-us ul li{
      margin: 10px 0;
  }

  #about-us ul{
      margin-left: 20px;
  }

  /* -------------------social media section --------------------------*/

  #social-media{
      background: white;
      padding: 100px 0;
  }

  #social-media p 
  {
      font-size: 36px;
      font-weight: 600;
      margin-bottom: 30px;
  }

  .social-icons img{
    width: 60px;
    margin: 0 10px;
  }

  #footer{
    background: black;
    color: white;
    padding-top: 10px;
    padding-bottom: 5px;
  }
